.images {
    height: 150px;
    width: 150px;
    padding: 20px;
}

.content {
    text-align: center;
    margin-top: 0;
}

.reveal {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}